@{
    ViewData["Title"] = "Torunament Control";
}

<div class="row">
 
    <h1>Gerenciamento de Torneios</h1>
    <hr />

    <div class="col-md-4 well">
        <h2>Controle de Torneio</h2>
        <ul>
            <li><a href="#">Gerenciar Torneios</a></li>
            <li><a href="#">Realizar Torneio</a></li>
            <li><a href="#">Consultar Torneios Finalizados</a></li>
        </ul>
    </div>

    <div class="col-md-4 well">
        <h2>Controle de Times</h2>
        <ul>
            <li><a href="#">Gerenciar Times</a></li>
        </ul>
    </div>

    <div class="col-md-4 well">
        <h2>Controle de Jogadores</h2>
        <ul>
            <li><a href="#">Gerenciar Jogadores</a></li>
        </ul>
    </div>
    
</div>
